.main-bar{
    background-color: #0a79fa;
    padding: 23px;
    font-family: inherit;
    font-size: 20px;
    color: beige;
    font-weight: bold;
}
.nav-bar{
    font-family: "inherit";
    padding: 10px;
    margin-top: 10px;
    background-color: #f5f6f7;
    color: black;
}