<div class="container table-div">
  <form>
    <div class="form-group form-inline">
        Search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>
<div class="col-1 offset-11"><span>Add</span><span class="fa fa-plus-square" [routerLink]="['./create']"></span>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Employee Id</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Location</th>
    <th scope="col">Salary</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of employeeList">
    <td>
        <ngb-highlight [result]="emp._id.$oid" [term]="filter.value"></ngb-highlight>
    </td>
    <td>
      <ngb-highlight [result]="emp.name" [term]="filter.value"></ngb-highlight>
    </td>
    <td>{{emp.email}}</td>
    <td>{{emp.location}}</td>
    <td>{{emp.salary}}</td>
    <td>
      <span class="fa fa-edit" [routerLink]="['./edit',emp._id.$oid]"></span>
      <!--<span class="fa fa-trash" (click)="openModal()" ></span> -->
      <delete-modal [name]="emp.name" (open)="deleteEmp(emp._id.$oid)"></delete-modal>
    </td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination  [collectionSize]="collectionSize"  [(page)]="page"  [pageSize]="pageSize" (change)="pageChanged($event)">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" (ngModelChange)="onPageSizeModelChanged($event)" [(ngModel)]="pageSize">
      <option [ngValue]="1">1 items per page</option>
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

</div>
